<h1>Catalogs</h1>
<ul>
  <li><%= link_to "Deliverable Types", deliverable_types_url %></li>
  <li><%= link_to "Lifecycle Phases", lifecycle_phases_url %></li>
  <li><%= link_to "Typical Deliverables", typical_deliverables_url %></li>
  <li><%= link_to "Users", users_url %></li>

</ul>
