body {
    margin: 0; padding: 0;
    background: #e0e0e0;
    color: #333;
    font: 11px/1.5 verdana, sans-serif;
}
.cleaner {
    clear: both;
    height: 1px; margin: 0;
}

.button {

    -webkit-box-shadow: rgba(4, 133, 157, 0.75) 0px 0px 8px;
    -moz-box-shadow:0px 8px 24px rgba(4, 133, 157, 0.75);
    box-shadow: 0px 8px 24px rgba(4, 133, 157, 0.75);

    background-color: rgba(255, 157, 64, 0.75);

    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#FFB773));

    background:
        -moz-linear-gradient(
        center bottom,
        rgb(255,255,255) 0%,
        rgb(255,156,64) 1000%
        );


    border: 2px solid #999;

    border-radius: 5px;
    color: #015666;
    cursor: pointer;
    display: inline-block;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0.25em 0.5em 0.3em;
    position: relative;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.496094) 1px 1px 3px;
    width: 8em;

    /*
    display: inline-block;
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font: 14px/100% Verdana,Arial,Helvetica,sans-serif;
    padding: .5em 2em .55em;

    text-shadow: 0 1px 1px rgba(0,0,0,.3);

    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    border-radius: .5em;

    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
    box-shadow: 0 1px 2px rgba(0,0,0,.2);

    color: #fef4e9;
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
    background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20'); */
}




.button:hover {
    text-decoration: none;
    background: #f47c20;
    background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
    background: -moz-linear-gradient(top,  #f88e11,  #f06015);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.button:active {
    position: relative;
    top: 1px;
    color: #fcd3a5;
    background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
    background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}


#error{
    border: 1px solid red;
    background: #FFE6E6;

}

#notice{
    border: 1px solid #feb875;
    background: #fce6d2;
}

#notice, #error{
    margin: 0 auto;
    padding: 1em;
    width: 50%;
    text-align: center;
    font-weight: bold;
}

#main {
    position: relative;
    width: 1024px;
    margin: 0 auto;
    padding: 3px 0 0 0;

}
#topbg {
    position: absolute; top: 0; left: 0; z-index: -1;
    width: 100%; height: 120px;
    background: #04859D;
}
#header {
    position: relative;
    width: 1024px; height: 93px;
    /*background: #45B7D8;*/
    background: url('/images/header.png');
    color: #015666;
}



/* @group Header */
#Title{
    /*clear:both;*/
    height: 40px;
    font-style: normal;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

#Subtitle
{
    text-align: center;
    height: 25px;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

#header a:link,#header a:visited{
    color: #015666;
}

#header h1
{
    margin-left: auto; margin-right: auto;
    text-align: center;
    font-size: 36px;
}

#header h2
{
    font-size: 18px;
}

#LoggedIn{
    padding: 5px;
    float: left;
    font-weight: bold;
}

#LoginMenu
{
    padding-right: 5px;
    float: right;
    /*height: 10px;
    position: absolute;*/
}

#LoginMenu ul {
    -webkit-box-shadow: rgba(0, 0, 0, 0.398438) 0px 1px 3px;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#FFB773));
    border: 1px solid #6D6D6D;
    border-bottom-left-radius: 1em 1em;
    border-bottom-right-radius: 1em 1em;
    line-height: 100%;
    margin: 0px;
    padding: 7px 6px 0px;
  


    /*height: 2em;
    list-style: none;
    margin: 0;
    padding: 0;*/
}

#LoginMenu ul:after {
    clear: both;
    content: '.';
    display: block;
    height: 0px;
    line-height: 0;
    visibility: hidden;
}

#LoginMenu li{
    float: left;
    list-style: none;
    margin: 0px 5px;
    padding: 0px 0px 8px;
    position: relative;

    /*border-right-color: black;
 border-right-style: solid;
border-right-width: 1px;*/




    /*float: left;
    text-align: center;*/

}

#LoginMenu ul li a {
    color: #E7E5E5;
    /*display: block;*/
    font-weight: bold;
    margin: 0px;
    padding: 8px 10px;
    text-decoration: none;
    text-shadow: rgba(0, 0, 0, 0.29687);

}

#LoginMenu a:hover{
    color: #5FBDCE;
}


/* @end */


#content {
    padding: 1px;
    background-color: #ffffff;
}
#content a {
    padding: 2px 3px;
}
#content p {
    margin: 0.25em 0;
}

/* @group menu */

#NavBar{
    width: 100%;
    background: #DADAC8;
    height: 30px;
}

#menu {
    margin: 0; padding: 0;
    list-style-type: none;
    height: 26px;
}
#menu li {
    float: left;
    margin: 0; padding: 0;
    width: 20%;
}
#menu a {
    position: relative;
    display: block;
    margin: 1px;
    height: 24px;
    font-size: 10px;
    line-height: 24px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    background: #015666;
    color: white;
    border-radius: 5px;
}
#menu a span {
    display: block;
    position: absolute; top: 5px; left: 8px;
    width: 8px; height: 8px;
    background: white;
}
#menu a.sel {
    background: #5FBDCE;
    color: black;
}
#menu a:hover {
    background: #5FBDCE;
    color: black;
}
/* @end */

#mainContent
{
    text-align: center;
    padding: 1em;
    min-height: 400px;
}

#footer {
    margin: 10px 0 10px 0;
    padding: 5px 0;
    text-align: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    background: #015666;
    color: white;
    border-radius: 15px;
}
#footer a {
    color: #5FBDCE;
    text-decoration: none;
    padding: 3px 5px;
}

#footer a.sel{
    color: white;
}

#footer a:hover{
    color: white;
}

/* Login Page */
#Login
{
    /*background-image: url(/images/LoginBackground.png);
    background-repeat: no-repeat;
    background-image: -moz-linear-gradient(100% 100% 90deg, #2F2727, #1a82f7);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2F2727));*/

    background-color: #b0dee6;
    border-radius: 5px;
    border-color: #015666;
    border-width: 2px;
    border-style: solid;


   
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;


    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;

    width: 215px;
   

}

#Login a
{
    color: blue;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-weight: normal;
    font-style: italic;
}

#Login input[type="text"], #Login input[type="password"]
{
    border-color: #A8A8A8;
    border-style: solid;
    border-width: 2px;
    color: #015666;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
}

#Login input[type="text"]:focus, #Login input[type="password"]:focus
{
    background-color: #FFF4DA;
}

.LoginLabel
{
    padding-top: 10px;
    color: #015666;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: bold;
}

.LoginTextfield
{
    padding-top: 5px;


}

.LoginButton
{
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}



/* Area for Input values */

.InputArea {
    padding: 2em;
    border: none;
    width: 60%;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
    font-weight: bold;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,.2);
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    background: #f78d1d;
    background: -webkit-gradient(linear, left top, left bottom, from(#5FBDCE), to(#428490));
    background: -moz-linear-gradient(top,  #5FBDCE,  #428490);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#5FBDCE', endColorstr='#428490');
}

.InputTable {
    width: 100%;
    text-align: left;
    padding: 0;
    color: #FFFFFF;
}


.DisplayTable {
    margin: 1em auto;
    text-align: left;
  -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,.2);
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    border-spacing: 0;
    color: #FFFFFF;
    background: #EEEEEE;
}

.DisplayTable td {
    color: #000000;
}

.DisplayTable th{
    background: #015666;
}

.DisplayTable th, td{
    padding: 1em;
}

.DisplayTable #BottomRow td{
    height: 6px;
    background: #EEEEEE;
    padding: 0;
}

.DisplayTable #HeaderRight{
    -webkit-border-top-right-radius: 1em;
    -moz-border-top-right-radius: 1em;
    border-top-right-radius: 1em;
}

.DisplayTable #HeaderLeft{
    -webkit-border-top-left-radius: 1em;
    -moz-border-top-left-radius: 1em;
    border-top-left-radius: 1em;
}