<%content_tag_for :li, project_phase do %>
<span class="handle">[drag]</span>
<b>Phase</b>
<%= link_to h(project_phase.name), project_phase %>
<%= link_to 'x', project_phase, :confirm => 'Are you sure?', :method => :delete %>
<%= link_to 'Add deliverables', new_deliverable_path %>
<% end %>
