<li id="id_<%=project_phases.id%>">
  <span class="handle">[drag]</span>
<%= project_phases.name %> <%= "Edit" %> <%= link_to 'x', project_phases, :confirm => 'Are you sure?', :method => :delete %>
</li>